.set-height {
    max-height: calc(100vh - 38px);
}

.yes::-webkit-scrollbar {
    width: 5px;
}

.yes::-webkit-scrollbar-thumb {
    background: #f28022;
    border-radius: 50px;
}

@media only screen and (max-width: 667.99px) {
    .set-height {
        max-height: calc(100vh - 32px);
    }
}